name: CI
on: push
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      # - name: Update theme
      #   # (Optional)If you have the theme added as submodule, you can pull it and use the most updated version
      #   run: git submodule update --init --recursive

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"

      - name: Build
        # remove --minify tag if you do not need it
        # docs: https://gohugo.io/hugo-pipes/minification/
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.TOKEN }}
          external_repository: dbs67/dbs67.github.io
          publish_dir: ./public
          #   keep_files: true
          user_name: dbs67
          user_email: donbstringham@icloud.com 
          publish_branch: main
          cname: donbstringham.com